<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="container-con">
        <h1 class="mb-4">Contact Us</h1>

      <input
        class="form-control"
        type="text"
        name="Uname"
        id="Uname"
        placeholder="Username"
      /><br />
      <input
        class="form-control"
        type="text"
        name="Email"
        id="email"
        placeholder="Email"
      /><br />
      <select class="form-control" required>
        <option hidden value="" disabled selected>Select one option</option>
        <option value="1">Customer</option>
        <option value="2">provider</option>
      </select>
      <input
        class="form-control"
        type="text"
        name="sub"
        id="sub"
        placeholder="subject"
      /><br />
      <textarea
        class="form-control"
        name="contact"
        id="contact"
        cols="40"
        rows="5"
        style="margin-top: 2%"
      ></textarea
      ><br />
      <button class="form-control" class="btn">SEND</button>
    </div>
    <div class="container-img">
      <img
        src="../../../assets/Images/20618-removebg-preview_upscaled.png"
        alt=""
      />
    </div>
  </div>
</section>
