<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="container-con">
      <h3>
        Welcome to our vehicle service website!<br />We are dedicated to
        providing top-notch repair services for users
      </h3>
      <button class="btn" routerLink="/login">
        Login
        <img src="../../../assets/Images/login.png" alt="" />
      </button>
    </div>
    <div class="container-img">
      <img src="../../../assets/Images/welcome.png" alt="" />
    </div>
  </div>
</section>
<section>
  <h1 class="side">Know More</h1>

  <div class="container3">
    <div class="container3-img1">
      <img src="../../../assets/Images/sub.png" alt="" />
    </div>
    <div class="container3-con1">
      <h3>
        TuningBuddy website acts has an interface between the User and
        Provider,by using our website user can contact the nearest mechanic and
        can do transactions,it reduces the waiting time of the struggler and
        provides the work for mechanics.
      </h3>
    </div>
  </div>
</section>
<app-footer></app-footer>
