<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="container-img">
      <img src="../../../assets/Images/about.png" alt="" data-aos="fade-left" />
    </div>
    <div class="container-con" data-aos="fade-right">
      <h1>TuningBuddy</h1>
      <p>
        Welcome to TuningBuddy! We are a convenient and user-friendly website
        that helps you find the nearest mechanics in your area. Whether you're
        dealing with a flat tire, engine trouble, or any other automotive
        issue,TuningBuddy is here to connect you with reliable and skilled
        mechanics to get you back on the road as quickly as possible.
      </p>
    </div>
  </div>
</section>
<section>


  <div class="container3">
    <h1>How it Works</h1>
    <div class="container3-img">
      <img
        src="../../../assets/Images/Component 10.png"
        alt=""
        data-aos="zoom-in"
      />
    </div>
  </div>
</section>
<app-footer></app-footer>
