<app-navbar></app-navbar>
<section>
  <div class="login">
    <div class="left">
      <div class="sub">
        <button style="background-color: #63cbaa">user</button
        ><button routerLink="/login1" tabindex="0">provider</button>
      </div>
      <h3>LOGIN</h3>
      <form >
        <div class="container-details">
          <input
            type="email"
            name="Email"
            id=""
            placeholder="Email"
            class="form-control  "
          /><!----><input
            type="password"
            placeholder="Password"
            name="Password"
            class="form-control"
          /><!----><button routerLink="/customerhome" class="btn">
            login
          </button>
          <div class="sub">
            <p>New to Tuning Buddy !!</p>
            <a routerLink="/signup" href="/signup">Signup</a>
          </div>
        </div>
      </form>
    </div>
    <div class="right">
      <img src="../../../assets/Images/19199055.jpg" alt="" />
    </div>
  </div>
</section>
